shamefully-hoist=true
virtual-store-dir-max-length=80
registry=https://registry.npmmirror.com/
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
electron_build_mirror=https://cdn.npmmirror.com/binaries/electron/
